# dependencies
node_modules

# production
dist

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log

# editor
.vscode
.idea

# playwright
playwright-report
test-results
screenshots
.playwright-mcp
.vercel
