body {
  background-color: #2C2C2C;
  padding: 20px;
  margin: 0;
  height: 1vh;
}
h1, h2, p, ul, li {
  color: white;
  font-family: "Abel";
}
a {
  color: white;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.room {
  color: white;
  font-family: "Abel";
  letter-spacing: 0.1em;
}
.header {
  height: 4%;
  min-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c2c2c;
}
.title {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}
.footer {
  position: absolute;
  width: 100%;
  height: 4%;
  bottom: 0;
  background-color: #2c2c2c;
  left: 0;
}
.date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}
.plug {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.daily {
  position: absolute;
  margin-right: 1em;
  right: 2.25em;
  top: 50%;
  transform: translateY(-50%);
}
img.github {
  position: absolute;
  height: 1.5em;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}
img.logotype {
  position: absolute;
  height: 4em;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 1em
}
#frame {
  background-color: #2c2c2c;
  background-image: url("logo.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 90%;
  }
}